@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}